<% if not @blank_state %>
	<div class="row">
		<div class="col-md-8 col-md-offset-2" style="padding-bottom:30px">
			<% @posts.each do |post| %>
				<%= render 'post', post: post %>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<ul id="pages">
				<% (1..@pages).each do |i| %>
					<% if @selected_page == i %>
						<li><a href="/<%= i %>" class="selected"><%= i %></a></li>
					<% else %>
						<li><a href="/<%= i %>"><%= i %></a></li>
					<% end %>	
				<% end %>	
			</ul>
		</div>
	</div>
<% else %>
	<center><h3> No Posts to display! </h3></center>
<% end %>
