<!DOCTYPE html>
<html>
<head>
  <title>NE0N3W5 | <%= @page_title unless @page_title.blank? %></title>
  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "default_overrides" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="col-md-5 col-md-offset-1">
	<h2>NE0N3W5<small> | <%= @page_title unless @page_title.blank? %></small></h2>
</div>

<% if is_logged_in? %> 
<div class="col-md-1 col-md-offset-4">
	<p>Hello! <%= session[:name] %> </p>
	<p><a href="/logout"> Logout </a></p>
</div>
<% end %>

<% unless flash[:success].blank? %>
	<p class="bg-success"><%= flash[:success] %> </p>
<% end %>
<% unless flash[:error].blank? %>
	<p class="bg-danger"><%= flash[:error] %> </p>
<% end %>

<%= yield %>

</body>
</html>
